# .NET Core
bin/
obj/
out/
*.user
*.suo
*.userosscache
*.sln.docstates

# ASP.NET Scaffolding
ScaffoldingReadMe.txt

# Rider
.idea/
*.sln.iml

# User-specific files
*.rsuser
*.suo
*.user
*.userosscache
*.sln.docstates

# Build results
[Dd]ebug/
[Rr]elease/
x64/
x86/
[Aa][Rr][Mm]/
[Aa][Rr][Mm]64/

# NuGet
*.nupkg
# The packages folder can be ignored because of Package Restore
**/packages/*
!**/packages/build/
!**/packages/repositories.config

# NPM Packages
node_modules/

# Logs
*.log

# Others
*.vspscc
*.vssscc
*.dbmdl
*.pdb
*.cache
*.mdb
*.bak
*.backup
*.swp
*.tmp
*.tmp_proj
*.svclog
*.pidb
*.scc

# Azure Pipelines
.azure-pipelines/

# Local history for Visual Studio
.localhistory/

# IIS Express
.vs/

# Test Results
TestResults/
*.TestResults/
*.trx
*.coverage
*.coveragexml

# Publish
publish/
*.publish.xml

# Resharper
_ReSharper*/
*.[Rr]e[Ss]harper
*.DotSettings.user

# DotCover
*.dotCover

# SonarQube
.sonar/

# StyleCop
StyleCopReport.xml

# Backup & Report files from converting an old project file
_UpgradeReport_Files/
Backup*/
UpgradeLog*.XML
UpgradeLog*.htm

# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Mac
.DS_Store

# Linux
*~

# JetBrains Rider
.idea/
*.sln.iml

# Environment files
.env
.env.*